<p>
  <%= f.label :question %>
	<%= f.text_field :question %>
</p>
<p>
	<%= f.label :answer%>
	<%= f.text_field :answer %>
	any Ruby logic that evaluates to True or False, enter "true" or "false" for the most basic logic
</p>
<p>
	<%= f.label :status %>
	<%= select :question, :status, Question::Status.constants.map{ |c| eval("Question::Status::#{c}") } %>
</p>
<p>
	<%= f.label :flag_at %>
	<%= f.date_select :flag_at, :include_blank => true %>
</p>
<p>
	<%= f.label :expires_at %>
	<%= f.date_select :expires_at, :include_blank => true %>
</p>