<h1>Listing questions</h1>

<%= will_paginate @questions %>

<br />

<table cellpadding="3" cellspacing="3">
  <tr>
	<th>Question</th>
	<th>Answer</th>
	<th>Status</th>
	<th>Scrape Status</th>
	<th>Expires</th>
	<th>Flag After</th>
	<td></td>
	<td></td>
	<td></td>
  </tr>

<% @questions.each do |question| %>
  <tr>
	  <td><%= h question.question %></td>
	  <td align="center"><%= question.answer ? 'YES' : 'NO' %></td>
	  <td><%= h question.status.camelize %></td>
	  <td><%= h question.scraper ? question.scraper.last_ran_status.camelize : 'N/A' %></td>
	  <td><%= question.expires_at ? question.expires_at.strftime("%m-%d-%Y") : 'Never' %></td>
	  <td><%= question.flag_at ? question.flag_at.strftime("%m-%d-%Y") : 'Never' %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @questions %>

<br />

<%= link_to 'New question', new_question_path %>